<div class="head" lazy-bg="/images/header-background.jpg">
    <div class="head__container">
        <h1 class="head__hero">Run to <span class="head__name">the Hills</span></h1>
        <div class="head__text">
            <%= partial "content/header" %>
        </div>
    </div>
</div>
